<GridLayout height="50" verticalAlignment="bottom">
	<GridLayout columns="*, *, *, *, *" height="60" backgroundColor="#0D0D12">
		<GridLayout #tabHighlight col="0" backgroundColor="#F8A200"></GridLayout>
		<GridLayout col="0" (tap)="selectTab(0)">
			<Image #image1 src="~/images/one.png" height="23" width="23"></Image>
		</GridLayout>
		<GridLayout col="1" (tap)="selectTab(1)">
			<Image #image2 src="~/images/two.png" height="25" width="25"></Image>
		</GridLayout>
		<GridLayout col="2" (tap)="selectTab(2)">
			<Image #image3 src="~/images/three.png" height="25" width="25"></Image>
		</GridLayout>
		<GridLayout col="3" (tap)="selectTab(3)">
			<Image #image4 src="~/images/favourites.png" height="25" width="25"></Image>
		</GridLayout>
		<GridLayout col="4" (tap)="selectTab(4)">
			<Image #image5 src="~/images/deleted.png" height="25" width="25"></Image>
		</GridLayout>
	</GridLayout>

</GridLayout>