ListView {
    separator-color: transparent;
}

.home-panel{
    vertical-align: top; 
    font-size: 20;
    margin: 1;
}

.description-label{
    margin-bottom: 15;
}
.bookmark_text{
    font-size:14;
    font-family: 'Open Sans', 'OpenSans-Regular';
}
.bookmark_title{
    font-size:20;
    font-family: 'Open Sans', 'OpenSans-Bold';
}
.picker {
    color: black;
    font-family: 'Open Sans', 'OpenSans-Bold';
    vertical-align: middle;
}